<aside class="stream-sidebar" [class.collapsed]="collapsed()">
  <button class="collapse-btn" (click)="toggleSidebar()">
    <i class="bi" [ngClass]="collapsed() ? 'bi bi-arrow-bar-right' : 'bi bi-arrow-bar-left'"></i>
  </button>

  <div class="full-content" *ngIf="!collapsed()">
    <!-- LIVE -->
    <h6 class="section-title">Live Now</h6>

    <div class="live-item compact" *ngFor="let item of live()" (click)="open(item)">
      <img
        class="avatar-live"
        [src]="getBannerSrc(item.image)"
        [alt]="getBannerAlt(item.title)"
        loading="lazy"
        (error)="onImgError($event)"
      />

      <div class="info">
        <div class="title">{{ item.className }}</div>
        <div class="sub-title">{{ item.subjectName }}</div>
        <div class="meta-row">
          <span class="chip-free" *ngIf="item.isFree; else paidTpl"> Free </span>

          <ng-template #paidTpl>
            <span class="chip-paid">Paid</span>
          </ng-template>

          <span class="live-dot chip-free"></span>
        </div>
      </div>
    </div>

    <div class="section-gap"></div>

    <!-- UPCOMING -->
    <h6 class="section-title mt-2">Upcoming</h6>

    <div class="live-item compact" *ngFor="let item of upcoming()" (click)="open(item)">
      <img
        class="avatar"
        [src]="getBannerSrc(item.image)"
        [alt]="getBannerAlt(item.title)"
        loading="lazy"
        (error)="onImgError($event)"
      />

      <div class="info">
        <div class="title">{{ item.className }}</div>
        <div class="sub-title">{{ item.subjectName }}</div>

        <div class="meta-row">
          <span class="time">
            {{ item.date.toDate() | date: 'EE, d MMM, h:mm a' }}
          </span>
          <span [ngClass]="item.isFree ? 'chip-free' : 'chip-paid'">
            {{ item.isFree ? 'Free' : 'Paid' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- COLLAPSED -->
  <div class="collapsed-content" *ngIf="collapsed()">
    <img
      *ngFor="let item of live()"
      class="collapsed-avatar"
      [src]="getBannerSrc(item.image)"
      [alt]="getBannerAlt(item.title)"
      loading="lazy"
      (error)="onImgError($event)"
      (click)="open(item)"
    />

    <img
      *ngFor="let item of upcoming()"
      class="collapsed-avatar"
      [src]="getBannerSrc(item.image)"
      [alt]="getBannerAlt(item.title)"
      loading="lazy"
      (error)="onImgError($event)"
      (click)="open(item)"
    />
  </div>
</aside>
