/* ROOT */
.catalog {
  width: 100%;
  padding: 56px 24px;

}

/* SURFACE */
.catalog-surface {
  max-width: 1140px;
  min-height: 500px;
  margin: 0 auto;
  background: #e2e8e5a4;
  border-radius: 20px;
  padding: 44px;
  border: 1px solid #e5e9ef;
}

/* BLOCK */
.catalog-block {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* GRID */
.catalog-main-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 36px 48px;
}

/* GROUP */
.catalog-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* KIDS subtle separation */
.kids-block {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid #e5e9ef;
}

/* HEADER */
.group-header {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

/* ICON */
.group-icon-circle {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f1f5f9;
  border: 1px solid #e2e8f0;
  font-size: 2.1rem;
}

.kids-icon {
  background: #eef2ff;
  border: 1px solid #dbeafe;
}

/* TITLE */
.group-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
}

/* ITEMS */
.catalog-items {
  display: flex;
  flex-direction: column;
}

/* ITEM */
.catalog-item {
  border: none;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 10px;

  font-size: 1rem;
  color: #1f2937;

  border-bottom: 1px solid #e6ebf0;

  cursor: pointer;
  border-radius: 6px;
  position: relative;
}

/* REMOVE background interactions */
.catalog-item:active {
  background: transparent;
}

/* TEXT */
.item-name {
  font-weight: 500;
  font-size: 1.15rem;
  text-decoration: none;
}

/* UNDERLINE ON HOVER (clean link style) */
.catalog-item:hover .item-name {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #111827;
}

/* ARROW */
.item-arrow {
  color: #444c48;
  font-size: 1rem;
  line-height: 1;
  font-weight: 800;
}

/* KIDS same behavior */
.kids-item:hover .item-name {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .catalog-main-grid {
    grid-template-columns: 1fr;
  }

  .catalog-surface {
    padding: 32px 20px;
  }
}
