<section class="catalog">
  <div class="catalog-surface">
    <!-- GROUP -->
    <div class="catalog-group" *ngFor="let g of groupsArray()">
      <!-- GROUP TITLE -->
      <div class="group-header">
        <span class="group-icon">
          {{ primaryGroupIcons[g.key] }}
        </span>
        <h2 class="group-title">
          {{ slugToText(g.key) }}
        </h2>
      </div>

      <!-- ITEMS -->
      <div class="catalog-items">
        <button class="catalog-item" *ngFor="let item of g.value" (click)="openItem(item)">
          <span class="item-name">
            {{ item.title }}
          </span>

          <span class="item-arrow"> → </span>
        </button>
      </div>
    </div>
  </div>
</section>
