<section class="class-details-page d-flex flex-column">
  <!-- HEADER (NOT STICKY) -->
  <header class="class-header">
    <h1 class="m-0 fw-semibold text-truncate p-3">
      {{ className() }}
    </h1>
  </header>

  <nav class="right-sticky-nav">
    <ul class="nav-list">
      <li
        class="nav-item"
        [class.active]="activeMainTab() === 'overview'"
        (click)="select('overview')"
      >
        Overview
      </li>

      <li class="nav-item" [class.active]="activeMainTab() === 'games'" (click)="select('games')">
        Puzzles
      </li>

      <li class="nav-item" [class.active]="activeMainTab() === 'stats'" (click)="select('stats')">
        Schedule
      </li>
    </ul>
  </nav>

  <section class="tab-content">
    @switch (activeMainTab()) {
      @case ('overview') {
        <class-overview [classId]="classId"></class-overview>
      }
      @case ('games') {
        <mcq-puzzle-card
          [puzzleId]="puzzleId"
          (completedChange)="onPuzzleCompleted($event)"
          class="flex-shrink-0"
        ></mcq-puzzle-card>
      }
      @case ('stats') {
        <timetable [classFileId]="classFileId"></timetable>
      }
    }
  </section>
  <!-- 🎮 HORIZONTAL GAME STRIP -->
  <!-- <section class="horizontal-strip">
    <div class="d-flex gap-3 overflow-auto no-scrollbar">

    </div>
  </section> -->

  <section>
    <class-schedule-list [classId]="classId"></class-schedule-list>
  </section>

  <!-- ⚡ EXTRA SECTION -->
  <section class="extra-section mt-5">
    <h2 class="d-flex justify-content-center mb-4 my-5">Know Us..</h2>
  </section>

  <section class="my-5">
    <explore-courses-banner></explore-courses-banner>
  </section>

  <section>
    <h2 class="d-flex justify-content-center mb-4 my-5">The Teachers</h2>
    <user-card-list [classId]="classId"></user-card-list>
  </section>

  <section class="class-stats-banner my-5">
    <div class="banner-fade banner-fade-left"></div>
    <div class="banner-fade banner-fade-right"></div>

    <div class="banner-inner">
      <!-- Top row: image + title -->
      <div class="banner-head container-fluid">
        <div class="head-wrap">
          <img class="banner-img" src="assets/up-wooden-bg.webp" alt="Class overview" />

          <h2 class="banner-title">Trusted learning journey across India</h2>
        </div>
      </div>

      <!-- Stats row -->
      <div class="stats-row container-fluid">
        <div class="stat" *ngFor="let s of stats()">
          <h3>{{ s.value }}</h3>
          <p>{{ s.label }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-4">
    <faq-list></faq-list>
  </section>
  
  <footer *ngIf="quote().text !== ''">
    <section class="quote-day">
      <div class="quote-container">
        <div class="quote-mark">“</div>

        <p class="quote-text">
          {{ quote().text }}
        </p>

        <div class="quote-author" *ngIf="quote().author">— {{ quote().author ?? '' }}</div>
      </div>
    </section>
  </footer>
</section>
