<div class="container-fluid home-wrapper">
  <div class="row no-gutters">

    <!-- LEFT SIDEBAR 15% -->
    <div class="col-12 col-md-2 left-pane">

      <h6 class="section-title">Live Tuitions</h6>

      <div class="live-item"
           *ngFor="let live of liveClasses()"
           (click)="onLiveClick(live)">

        <div class="live-row">
          <span class="dot" *ngIf="live.isLive"></span>
          <span class="live-text">{{ live.title }}</span>
        </div>

      </div>
    </div>

    <!-- RIGHT CONTENT 75% -->
    <div class="col-12 col-md-10 right-pane">

      <div class="class-block" *ngFor="let block of classSections()">
        <div class="header">{{ block.class }}</div>

        <div class="scroll-row no-scrollbar">
          <div class="card roadmap-card"
               *ngFor="let card of block.cards">
            <img [src]="card.image" loading="lazy" />
            <div class="p-2">
              <div class="card-title">{{ card.title }}</div>
              <div class="card-sub">{{ card.subtitle }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
