<div class="announcement-bar d-flex align-items-center justify-content-between px-3">
  <!-- LEFT: MARQUEE NEWS -->
  <div class="marquee-wrapper">
    <div class="marquee">
      <!-- Duplicate to avoid empty marquee -->
      <span class="news-item" *ngFor="let item of news">
        🔔 {{ item }} &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
      </span>

      <span class="news-item" *ngFor="let item of news">
        🔔 {{ item }} &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
      </span>
    </div>
  </div>

  <!-- RIGHT: NAV TABS AS ELEVATED CHIPS -->
  <div class="actions d-none d-lg-flex">
    <a class="action-chip" routerLink="/upcoming" routerLinkActive="active-chip">Upcoming</a>
    <a class="action-chip" routerLink="/hopin" routerLinkActive="active-chip">Hop-in</a>
    <a class="action-chip" routerLink="/syllabus" routerLinkActive="active-chip">Syllabus</a>
    <a class="action-chip" routerLink="/roadmap" routerLinkActive="active-chip">Roadmap</a>
    <a class="action-chip" routerLink="/teachers" routerLinkActive="active-chip">Teachers</a>
    <a class="action-chip" routerLink="/about" routerLinkActive="active-chip">About</a>
    <a class="action-chip" routerLink="/career" routerLinkActive="active-chip">Careers</a>
  </div>
</div>
