<section class="timetable-horizontal">
  
  <div class="subject-card" *ngFor="let sbj of subjects()">
    <!-- SUBJECT HEADER -->
    <header class="subject-header">
      <div class="title">
        <h4>{{ sbj.code }}</h4>
        <span class="code">{{ sbj.code }}</span>
      </div>

      <!-- CURRENT CHAPTER -->
      <div class="current-box" *ngIf="getCurrent(sbj.code) as cur">
        <small>Current chapter</small>
        <strong>{{ getChapterName(sbj.code, cur) }}</strong>
      </div>
    </header>

    <!-- CHAPTER LIST -->
    <div class="chapters">
      <div
        class="chapter"
        *ngFor="let ch of sbj.chapters; let idx = index"
        [class.completed]="isCompleted(sbj.code, idx)"
        [class.current]="isCurrent(sbj.code, ch.code)"
        [class.locked]="isLocked(sbj.code, idx)"
      >
        <div class="chapter-left">
          <div class="chapter-name">{{ ch.name }}</div>

          <span class="tag completed" *ngIf="isCompleted(sbj.code, idx)">
            Completed
          </span>

          <span class="tag current" *ngIf="isCurrent(sbj.code, ch.code)">
            In Progress
          </span>

          <span class="tag locked" *ngIf="isLocked(sbj.code, idx)">
            Not Started
          </span>
        </div>

        <div class="chapter-right">
          <span class="chip">{{ ch.code }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
