/* Hide scrollbars globally */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  --color-bg: #ffffff;
  --color-text-primary: #11181c;
  --color-text-secondary: #4b5563;
  --color-primary: #cdf5ecea;
  --color-primary-light: #ddeb9d;
  --color-bg-soft: #f7f7fb;
  --color-text-main: #1f2937;
  --topbar-height: 65px;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}
